/*RESET CSS*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: gray;
}

/*utilities*/

.azioni{
    display: inline-block;
    border-radius:20px ;
    color: white;
    padding: 3px;
}


.intro{
    background-color: lightgray;
}

.contenitore{
    width: 60%;
    margin: 10px auto;
    background-color: lightgray;
    padding:20px 20px;
}

/*head*/


h2{
    display: inline;
    line-height: 50px;
    text-align: center;
    font-size: 50px;
    font-family:fantasy ;
    width: 100%;

}

/*buttons*/
.b{
    background-color: aqua;
    color: white;
    
}

.button{
    border: 0;
    border-radius: 5px;
    padding: 2px 3px;
    
}


.c{
    background-color: whitesmoke;
    color: grey;
}
/*azioni*/

.editorial{
    background-color: aqua;
}



/*simboli*/



.simboli{
    display: inline-block;
    width: 20px;
    height: 20px;
    border:solid 1px;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;

}

.check{
    border-color: green;
    color: green;

}

.ics{
    border-color: red;
    color: red;
    border
}

