/*RESET CSS*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}



/*utilities*/



.contenitore.little{
    padding:20px 40px;
    border-radius: 20px 20px 0 0 ;
    margin-top: 30px;
}

.contenitore.big{
    border-radius: 0 0 20px 20px;
    padding:20px 40px;
    margin-bottom: 100px;
}

li{
    list-style-type: none;
    
}

#logo{
    line-height: 50px;
    vertical-align: middle;
}

.azioni{
    display: inline-block;
    border-radius:20px ;
    color: white;
    padding: 5px 10px;
    font-size: 13px;
}


.intro{
    background-color: white;
}

.contenitore{
    width: 60%;
    margin: 1px auto;
    background-color: white;
    
}



/*head*/


h2{
    display: inline;
    line-height: 50px;
    text-align: center;
    font-size: 50px;
    font-family:fantasy ;
    width: 100%;
    vertical-align: middle;

}

/*buttons*/
.b{

    background-color: aqua;
    color: white;
    
}

.button{
    border: solid 2px transparent;
    border-radius: 5px;
    padding: 2px 10px;
    
}


.button.c{
    background-color: whitesmoke;
    color: grey;
    border: solid 1px black;
    padding:3px 10px;
}
/*azioni*/

.goals{
    background-color: violet;
}

.editorial{
    background-color: aqua;
}

.recouting{
    background-color:rgb(6, 75, 6) ;
}

.mobile{
    background-color: orange;
}
.website{
    background-color: blueviolet;
}

.venduto{
    background-color:green;
}

/*simboli*/



.simboli{
    display: inline-block;
    width: 20px;
    height: 20px;
    border:solid 1px;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;

}

.check{
    border-color: green;
    color: green;

}

.ics{
    border-color: red;
    color: red;
    
}

/*Testi in Grassetto*/

h3{
   margin-top: 20px;
}